@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:800|Libre+Baskerville:400,400i,700,700i&display=swap");

$headings-font-family: "Roboto Slab", serif;
$headings-font-weight: 800;

$font-family-base: "Libre Baskerville", serif;

//we import some pleasing fonts from the web and override some of Bootstrap's Sass variables to customize Bootstrap to use these fonts.
